$orange: #e99469;
$dark-orange: #dd865b;

$dark-blue: #3e3b57;

$light-yellow: #ffefbe;

$med-dark-grey: #5b5f65;

$med-grey: #a8a8a8;

$med-lt-grey: #cecece;

$lt-grey-bg: #f0f1f2;

$dk-fter-bg: #2b283e;

$white-light: #848294;

$light-purple: #545163;

$mid-purple: #312f46;